@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    border: black 5px solid ;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1;
}
 .button{
    padding-left: 35em;
    padding-top: 5em;
} 